@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  font-family:poppins;
}

.App{
  height:100vh;
  padding:0px;
  margin:0px;
}

.content{
  min-height: 70vh;
}

.css-c3aatb {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 900;
  margin-left: 120px;
  font-size: 60px;
}

p{
  margin-left: 120px;
  margin-right: 120px;
}

h3{
  margin-left: 120px;
  font-weight: bold;
  padding-bottom: 20px;
}

:root {
  --mainDark: #343a40;
  --mainGrey: rgba(109,109,109);
  --mainLightGrey: rgba(172,172,172);
  --mainWhite:#fff;
  --mainBlue:#007bff;
}
