.link1{
    padding-left:40px;
    padding-right: 30px;
    color:aqua;
}

.link1:hover{
    color:aqua;
}

.link2{
    color:aqua;
    padding-right: 30px;
}

.link2:hover{
    color:aqua;
}

.link3{
    color:aqua;
    padding-right:30px;
}

.link3:hover{
    color:aqua;
}

.link4{
    color:aqua;
    padding-right:30px;
}

.link4:hover{
    color:aqua;
}

.link5{
    color:aqua;
    padding-right:30px;
}

.link5:hover{
    color:aqua;
}

.link6{
    color:aqua;
    padding-right:20px;
}

.link6:hover{
    color:aqua;
}

.form1{
    margin-right: 30px;
}


